*{
  margin: 0px;
  padding: 0px;
  list-style-type: none;
    text-decoration: none;
}
html, body {
  width: auto;
  height: auto;
}
.navbar{
    box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
}
body{
  background-image: url(img/back1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.gmpo{
  width: 100%;
  height: 86%;
  display: flex;
}


.gmp{
  width: 14%;
  height: 100%;
  display: inline-block;
  padding: 0px;

}
.gmp2{
  width: 72%;
  height: 100%;
  display: flex;
  padding: 0px;
}
.gmp3{
  width: 14%;
  height: 100%;
  display: inline-block;
  padding: 0px;

}
.ddmp{
  width: 20%;
  height: 100%;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
  background-color: #DCDCDC;
  opacity:0.9;
}
.ddmp2{
  width: 1%;
  height: 100%;

}
.ddmp3{
  width: 79%;
  height: 100%;
  background-color: red;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
}
.zxk{
  width: 100%;
  height: 33.3333333333333%;
  display: flex;

}
.dxk{
  width: 25%;
  height: 100%;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
  display: block;
  background-size: cover;
  background-position-x: 40%;
  background-repeat: no-repeat;

}
.dxk:hover{
  
  transform: scale(1.05);
  transition: 1s;

}
.dxk2{
  background-image: url(C:/MAMP/htdocs/mous.jpg);
}
.hb , .hbm{
  width: 100%;
  height: 75%;
}
.hbb{
  width: 100%;
  height: 25%;
  background-color: #A9A9A9;
  opacity: 0.6;
  padding-left: 5px;
}
.hbbm{
  width: 100%;
  height: 25%;
  background-color: #A9A9A9;
  opacity: 0.6;
  padding-left: 5px;
}
.dxk3{
  background-image: url(C:/MAMP/htdocs/bm.jpg);
}
.dxk4{
  background-image: url(C:/MAMP/htdocs/kalk1.jpg);
}
.dxk5{
  background-image: url(C:/MAMP/htdocs/ms.jpg);
}
.dxk6{
  background-image: url(C:/MAMP/htdocs/kalk2.jpg);
}
.dxk7{
  background-image: url(C:/MAMP/htdocs/ms1.jpg);
}
.dxk8{
  background-image: url(C:/MAMP/htdocs/naush1.jpg);
}
.dxk9{
  background-image: url(C:/MAMP/htdocs/kuler.jpg);
}
.dxk10{
  background-image: url(C:/MAMP/htdocs/ms2.jpg);
}
.dxk11{
  background-image: url(C:/MAMP/htdocs/kalk3.jpg);
}
.dxk12{
  background-image: url(C:/MAMP/htdocs/naush2.jpg);
}
.dxk13{
  background-image: url(C:/MAMP/htdocs/naush3.jpg);
}

.mxk2{
  background-image: url(C:/MAMP/htdocs/q6600.png);
}
.mxk3{
  background-image: url(C:/MAMP/htdocs/q8400.png);
}
.mxk4{
  background-image: url(C:/MAMP/htdocs/q9500.png);
}
.mxk5{
  background-image: url(C:/MAMP/htdocs/i3.png);
}
.mxk6{
  background-image: url(C:/MAMP/htdocs/i5.png);
}
.mxk7{
  background-image: url(C:/MAMP/htdocs/i7.png);
}
.mxk8{
  background-image: url(C:/MAMP/htdocs/amd1.png);
}
.mxk9{
  background-image: url(C:/MAMP/htdocs/amd2.png);
}
.mxk10{
  background-image: url(C:/MAMP/htdocs/xeon1.png);
}
.mxk11{
  background-image: url(C:/MAMP/htdocs/xeon2.png);
}
.mxk12{
  background-image: url(C:/MAMP/htdocs/termopast.png);
}
.mxk13{
  background-image: url(C:/MAMP/htdocs/ryzen.png);
}
.zmpp{
  width:70%;
  height: 25%;
}
.bgst{
  width: 95%;
  height: 10%;

}
.bbmp{
}
.bmw{
  background-color: #c8c8c8;
}
.ts{
  margin-left: 3%;
  background-color: #c8c8c8;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
  border-radius: 5px;
}
.merch{
  margin-top: 0.5rem;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
  margin-bottom: 0.5rem;
  border-radius: 5px;
}
.gts{
  margin-top: 0.5rem;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
  margin-bottom: 0.5rem;
  border-radius: 5px;
}
.mxt{
  width:auto;
}
.mxkt{
  color: white;
  transition: 1s;
}
a{
  color: black;
  transition: 1s;
}
.tr{

}
.ddos{
  background-color: #c8c8c8;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
}
.zzos{
  box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
}
.zzos:hover{
  transform: scale(1.05);
  transition: 1s;
}
.text-black{
  color: black;
}
.zoo{
  margin-bottom: 0rem;
}
.row{
  width: 100%;
}
.mah{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: red;
}
.pay-method .pay-type {
    position: relative;
    width: calc((100% - 64px)/4);
    border: 2px solid #dadada;
    border-radius: 4px;
    height: 86px;
    margin-bottom: 16px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 16px;
    cursor: pointer;
}
.kext{
  border: 2px solid #dadada;
  border-radius: 5px;
}
.yuhu{
  background-color: white;
  border-radius: 5px;
}